<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909458301614-akk95fl78lnre29d7pn5tqk6iqbuvgc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909458301614-akk95fl78lnre29d7pn5tqk6iqbuvgc7</string>
	<key>API_KEY</key>
	<string>AIzaSyBr6UJNE-JNewVIoUsIa-t0bn1TD8CgdxI</string>
	<key>GCM_SENDER_ID</key>
	<string>909458301614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sign-in</string>
	<key>PROJECT_ID</key>
	<string>final-project-2af26</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-2af26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909458301614:ios:e19cf35578833dc765433f</string>
</dict>
</plist>